{% extends 'base.html.twig' %}
{% block title %}Needs{% endblock %}
{% block content %}
<div class="center filters">
  <button class="btn waves-effect waves-light nopadding colorBackW orange-text noboxshadow" type="submit" name="status">Status
    <i id="status" class="material-icons right ml5">arrow_drop_down</i>
  </button>
  <button class="btn waves-effect waves-light nopadding colorBackW orange-text noboxshadow" type="submit" name="title">Title
    <i id="title" class="material-icons right ml5">arrow_drop_down</i>
  </button>
  <button class="btn waves-effect waves-light nopadding colorBackW orange-text noboxshadow" type="submit" name="date">Date
    <i id="date" class="material-icons right ml5">arrow_drop_down</i>
  </button>
  <button class="btn waves-effect waves-light nopadding colorBackW orange-text noboxshadow" type="submit" name="customer">Customer
    <i id="customer" class="material-icons right ml5">arrow_drop_down</i>
  </button>
</div>

<div class="row center">
  <div class="input-field col s12">
    <i class="material-icons prefix colorGFI">search</i>
    <input type="text" id="autocomplete-input" class="autocomplete colorGFI">
    <label class="colorGFI" for="autocomplete-input">Search</label>
  </div>
</div>

 <ul class="collection">
    <li class="collection-item avatar">
      <i class="circle green"></i>
      <B>My first need</B>
      <p>GOOGLE <br>
      10/01/2017
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons colorGFI">delete</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="circle orange"></i>
      <B>My second need</B>
      <p>APPLE <br>
      25/04/2017
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons colorGFI">delete</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="circle red"></i>
      <B>My third need</B>
      <p>AMAZON <br>
      08/08/2017
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons colorGFI">delete</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="circle green"></i>
      <B>An other need</B>
      <p>MICROSOFT <br>
      15/02/2017
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons colorGFI">delete</i></a>
    </li>
  </ul>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){

    $(".btn").click(function(){
      var filtre = $(this).attr('name');
      var tri = $(this).children('i').html();

      if(filtre != "status") { $('#status').html("arrow_drop_down"); }
      if(filtre != "title") { $('#title').html("arrow_drop_down"); }
      if(filtre != "date") { $('#date').html("arrow_drop_down"); }
      if(filtre != "customer") { $('#customer').html("arrow_drop_down"); }

      if(tri == "arrow_drop_up"){
        tri = "arrow_drop_down";
      } else {
        tri = "arrow_drop_up";
      }
      $(this).children('i').html(tri);
    });

  });
</script>
{% endblock %}
