.addNeed {
    width: 50px !important;
    height: 50px !important;
    margin: 0 !important;
}

.colorBackGFI {
    background-color: #2f354a !important;
}

.colorGFI {
    color: #2f354a;
}

.ml10{
  margin-left: 10px;
}

.nopadding {
    padding:0 5px !important;
}

.filters {
    margin-top: 15px;
    margin-bottom: 10px;
}

.colorBackW {
    background-color: #ffffff;
}

.noboxshadow {
    box-shadow: 0 0 0 0;
}

.btn:hover{
    box-shadow: 0 0 0 0 !important;
    background-color: #2f354a;
}

.ml5{
    margin-left: 5px !important;
}

.active{
  color: #2f354a !important;
}

#autocomplete-input{
  border-bottom: 1px solid #2f354a !important;
  box-shadow: 0 0 0 0 !important;
}

.btn{
  font-size: 12px !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding: 0px!important;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    max-height: 100% !important;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 50% auto; /* 15% from the top and centered */
    padding:0px!important;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-header {
    padding: 2px 16px;
    padding-top: 7px;
    background-color: #2f354a !important;
}
.modal-body {
    padding: 7px 34px;
}
